.header-container {
  display: flex;
  align-items: center;

  padding: var(--spacing-small);
  background-color: var(--color-black);
}
.header-counter {
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  margin-left: auto;
}
